<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if (flashErrorMessage && flashErrorMessage.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= flashErrorMessage %>
            </div>
        <% } %>
        <% if (flashSuccessMessage && flashSuccessMessage.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= flashSuccessMessage %>
            </div>
        <% } %>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

	<!-- Main header and call to action -->
	<div id="landing-header">
		<div class="row mx-0">
			<div class="col-lg-6 col-md-8 mx-auto mt-5">
				<div class="card text-white">
					<div class="card-body">
						<h1 class="display-4">Welcome to YelpCamp</h1>
						<!-- <p class="lead">A final project for the Web Developer Bootcamp.</p> -->
						<p class="lead">A Node.js web application project from Udemy: <a href="https://www.udemy.com/course/the-web-developer-bootcamp/">The Web Developer Bootcamp</a></p>
						<a href="/campgrounds" class="btn btn-lg btn-primary">View All Campgrounds</a>
					</div>
					<!-- Footer -->
					<div class="card-footer">
						<span class="float-left">Created by <a href="#" class="text-reset font-weight-bold">Larry Hunter</a></span>
						<span class="float-right">View this project on <a href="https://github.com/LarryHunter/YelpCamp" class="text-reset font-weight-bold">Github</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
